#main {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#map {
    height: 800px;
    width: 50%;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#postcode-search {
    z-index: 1000;
    position: relative;
    align-self: center;
}

#postcode {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    padding: 0.5em;
}

#postcode-search button {
    font-size: 20px;
    padding: 0.5em;
}

h1 {
    color: red;
}

#activity-list {
    overflow: scroll;
    height: 800px;
    padding: 20px;
}

.activity-list-link {
    text-decoration: none;
}

.marker-info {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    font-family: Arial, sans-serif;
}

.marker-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.marker-info hr {
    margin: 8px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.marker-info-element {
    margin-bottom: 8px;
}

.marker-info button {
    text-decoration: none;
    color: #ffffff;
    background-color: #007bff;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.marker-info button:hover {
    background-color: #043263;
    cursor: pointer;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}